.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.795);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 250px;
  background: #fff;
  border-radius: 16px;
  padding: 2rem 2.5rem;
  text-align: center;
  position: relative;
  min-width: 320px;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #aaa;
  transition: color 0.2s;
}
.modal-close:hover {
  color: #222;
}

.complete-modal-icon {
  width: 75px;
  height: 75px;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-check-img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.modal-message {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #222;
  text-align: center;
}

.complete-modal-confirm-btn {
  width: 400px;
  height: 48px;
  background: #222;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}
.modal-confirm-btn:hover {
  background: #444;
}
